<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.infinitryout.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>infinitryout</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>www.infinitryout.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterrServlet</display-name>
    <servlet-name>RegisterrServlet</servlet-name>
    <servlet-class>com.infinitryout.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterrServlet</servlet-name>
    <url-pattern>/RegisterrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginnServlet</display-name>
    <servlet-name>LoginnServlet</servlet-name>
    <servlet-class>com.infinitryout.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginnServlet</servlet-name>
    <url-pattern>/LoginnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisteerServlet</display-name>
    <servlet-name>RegisteerServlet</servlet-name>
    <servlet-class>com.infinitryout.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteerServlet</servlet-name>
    <url-pattern>/RegisteerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginsServlet</display-name>
    <servlet-name>LoginsServlet</servlet-name>
    <servlet-class>com.infinitryout.servlet.LoginsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginsServlet</servlet-name>
    <url-pattern>/LoginsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistersServlet</display-name>
    <servlet-name>RegistersServlet</servlet-name>
    <servlet-class>com.infinitryout.servlet.RegistersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistersServlet</servlet-name>
    <url-pattern>/RegistersServlet</url-pattern>
  </servlet-mapping>
</web-app>